@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://c0ttntail.github.io/rumblefont.css');

body {
    background: #000;
}
div {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
p {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #fff;
    font-family: 'Rumble', 'Architects Daughter', arial;
    text-align: center;
    font-size:xx-large;
}