@font-face {
    font-family: Crumble;
    src: url("https://c0ttntail.github.io/rumblechart/CRUMBLE.otf") format("opentype");}
@font-face {
    font-family: Rumble;
    src: url("https://c0ttntail.github.io/rumblechart/rumble.otf") format("opentype");}
